.h1{
	text-align:center
}
#h2{
	text-align:center
}
.p1{
	  text-indent: 850px
}
.p2{
	 text-indent: 880px;
	color: blue
}
.p3{
	text-indent: 1000px;
	font-family: "Lobster", serif;
	font-size:30px
}
.p4{
	
	text-indent: 1080px;
}