.tieude{
    text-align: center;
    background-color: coral;
    padding: 20px;
    animation: text1 8s infinite
}
.no-le{
    margin: 0px !important;
    padding: 0px !important;
    
}
@keyframes text1{
    50%{
      background-color: cornflowerblue; color: cornflowerblue;
       
    }
}
/* .margin{
    padding: 0px 200px 0px 200px; 
} */
.img1{
     display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-animation{
    animation-timing-function: linear;;
    float: right;
    position: relative;
    animation: text 5s infinite;
}
@keyframes text{
    from{right: 0px;}
    to{right: 500px;}
}